[submodule "src/linux"]
	path = src/linux
	url = https://github.com/V1Kin9/linux
	branch = linux-5.7-rc4-rvv
[submodule "src/opensbi"]
	path = src/opensbi
	url = https://github.com/UCTECHIP/opensbi
	barnch = master
[submodule "src/busybox"]
	path = src/busybox
	url = https://github.com/mirror/busybox
	branch = 1_32_stable
